#jumbo {
  padding-right: 15px;
  padding-left: 15px;

}

#smallerGif {
  width: 150px;
  height: auto;
  float: right;
  position: relative;
  top: -25px;
}

.zesty {
  text-shadow: 2px 2px 5px orange;
}

.zesty2 {
  text-shadow: 2px 2px 5px red;
}


h4 {
  padding-top: 10px;
}
